---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Header from '@/components/Header.astro';
import ContactSection from '@/components/ContactSection.astro';
import Footer from '@/components/Footer.astro';
---

<BaseLayout title="Contact - DevCult">
  <Header />
  <main class="min-h-screen flex items-center">
    <ContactSection />
  </main>
  <Footer />
</BaseLayout>
